@import "colors";

body, table, form, input, td, th, p, textarea, select {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif !important;
}

a,
a:visited {
  text-decoration: none !important;
}

a:hover {
  color: #036;
}

/* Logo */
.logo {
  background: url('img/headshot.svg') no-repeat;
  background-size: contain;
  width: 330px;
}

#jenkins-head-icon {
  display: none;
}

#jenkins-home-link {
  width: 160px;
  height: 40px;
}

#header {
  .login {
    font-size: 0;

    a {
      font-size: 12px;
      text-transform: capitalize;
    }
  }
}

/* Main menu */
#side-panel {
  .task {

    img {
      font-size: 18px;
      width: 18px !important;
      height: 18px !important;
      margin-right: 5px !important;
      color: $color-ashes;
    }

    .task-link {
      font-size: 14px;
    }
  }
}

/* Built log */
.build-health-link {
  font-size: 1.4em;
  line-height: 1em;
}

/* Main Panel */
.model-link {
  padding-left: 0.5em;
}

#description-link {
  img {
    line-height: 1.2em;
    margin-right: 0.3em;
  }
}

.CodeMirror-scroll {
  border-color: $color-ashes !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pane-header {
  .expand,
  .collapse {
    margin-left: 0;
    padding-left: 0.3em;

    img {
      line-height: 1.2em;
    }
  }
}

#jenkins .yui-button button {
  font-weight: normal !important;
  border-radius: 2px !important;
}

#projectstatus {
  .icon-clock {
    color: $color-green;

    &:hover {
      color: $color-ashes;
    }
  }
}

#main-panel {
  table {
    .icon-xlg {
      color: $color-ashes;
    }
  }
}


#searchform {

  input {
    background: #fff;
    box-shadow: none;
    border-radius: 2px;
    border: none;
  }

    &:before {
      @extend .fa;
      @extend .fa-search;

      position: relative;
      left: 16px;
      font-size: 12px !important;
      color: $color-ashes !important;
    }

  .icon-help {
    color: #fff;
  }
}
