body, table, form, input, td, th, p, textarea, select {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

a,
a:visited {
    text-decoration: none !important;
}

a:hover {
    color: #036;
}


/* Logo */
.logo {
    background: url('img/headshot.svg') no-repeat;
    background-size: contain;
    width: 330px;
}

#jenkins-head-icon
{
    display: none;
}

#jenkins-home-link
{
    width: 160px;
    height: 40px;
}
