$fa-font-path: "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts";
@import "colors";
@import "../node_modules/font-awesome/scss/font-awesome";

.icon-sm,
.icon-md,
.icon-lg,
.icon-xlg,
img[src*="atom.gif"],
img[src*="flags.png"] {
  @extend .fa;
  content: "";
}

.icon-sm {
  font-size: 14px;

  &.icon-health-40to59:before,
  &.icon-health-20to39:before {
    font-size: 12px;
  }
}

.icon-md {
  font-size: 22px;

  &.icon-health-40to59:before,
  &.icon-health-20to39:before {
    font-size: 20px;
  }
}

.icon-lg {
  font-size: 28px;

  &.icon-health-40to59:before,
  &.icon-health-20to39:before {
    font-size: 26px;
  }
}

.icon-xlg {
  font-size: 36px;
}

.icon-blue:before,
.icon-blue-anime:before {
  @extend .fa-circle:before;
  color: $color-green;
}

.icon-red:before,
.icon-red-anime:before {
  @extend .fa-circle:before;
  color: #ac2925;
}

.icon-nobuilt:before,
.icon-nobuilt-anime:before,
.icon-disabled:before {
  @extend .fa-circle:before;
  color: #999;
}

.icon-blue-anime,
.icon-red-anime,
.icon-nobuilt-anime {
  animation: inprogress 2s infinite linear;
}

.icon-health-80plus:before {
  @extend .fa-star:before;
  color: #ffc107;
}

.icon-health-60to79:before {
  @extend .fa-star:before;
  color: #999;
}

.icon-health-40to59:before {
  @extend .fa-cloud:before;
  color: #999;
}

.icon-health-20to39:before {
  @extend .fa-cloud:before;
  color: #ac2925;
}

.icon-clock:before {
  @extend .fa-play-circle:before;
}

.icon-new-package:before {
  @extend .fa-archive:before;
}

.icon-user:before {
  @extend .fa-users:before;
}

.icon-notepad:before {
  @extend .fa-list-alt:before;
}

.icon-setting:before {
  @extend .fa-cog:before;
}

.icon-collapse:before {
  @extend .fa-angle-up:before;
}

.icon-expand:before {
  @extend .fa-angle-down:before;
}

.icon-help:before {
  @extend .fa-question-circle:before;
}

.icon-text:before {
  @extend .fa-file-text-o:before;
}

.icon-up:before {
  @extend .fa-arrow-circle-up:before;
}

.icon-search:before {
  @extend .fa-search:before;
}

.icon-folder:before {
  @extend .fa-folder-open:before;
}

.icon-edit-delete:before {
  @extend .fa-trash-o:before;
}

.icon-clipboard:before {
  @extend .fa-clipboard:before;
}

.icon-package:before {
  @extend .fa-archive:before;
}

img[src*="atom.gif"]:before {
  @extend .fa-rss-square;
  color: #e65100;
}

img[src*="flags.png"]:before {
  @extend .fa-flag;
}
